.left-reg__mail input {
  margin: 10px 0 5px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  /* Светлый */

  color: #ffffff;
  background: #202020;
}
.left-reg__mail input:focus {
  border-bottom: #b00062 1px solid;
}
.left-reg__mail {
  margin-bottom: 12px;
  padding: 10px;
  background: #202020;
  display: flex;
  flex-direction: column;
}
.left-reg__mail:focus,
input:focus {
  outline: none;
}

.left-reg__login input {
  margin: 10px 0 5px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  background: #202020;
}
.left-reg__login input:focus {
  border-bottom: #b00062 1px solid;
}
.left-reg__login {
  margin-bottom: 12px;
  padding: 10px;
  background: #202020;
  display: flex;
  flex-direction: column;
}
.left-reg__password input {
  margin: 10px 0 5px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  background: #202020;
}
.left-reg__password input:focus {
  border-bottom: #b00062 1px solid;
}
.left-reg__password {
  padding: 10px;
  background: #202020;
  display: flex;
  flex-direction: column;
}
.left-reg__submit {
  margin-top: 20px;
  display: inline-flex;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  border: 3px solid #b00062;
  color: #ffffff;
  padding: 12px 24px;
  cursor: pointer;
}
.left-reg__submit button {
  background: #181818;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
  border: 0;
}
.left-reg__isAuthor {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  /* Серый */

  color: #c0c0c0;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
}