@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap");

.fixed {
  position: fixed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #141414;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.go_back {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  margin-top: 15px;
}
.back_image {
  width: 19px;
  margin-right: 12px;
}
.back {
  font-size: x-large;
  color: #e6258f;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
}
.header__logo {
  margin-right: auto;
  margin-left: 100px;
  user-select: none;
}
.header__icon {
  /* width: 24px;
    height: 24px; */
  margin-right: 16px;
}
.header__input {
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #141414;
  margin-right: 100px;
  border: 0;
}
.header__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #505050;
}
.header__input:focus {
  outline: 0;
}
.header__signin {
  margin-right: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}
.header__signup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
  padding: 12px 24px;
  margin-right: 60px;
  background: linear-gradient(
    90deg,
    rgba(195, 0, 109, 0.9) 5%,
    rgba(115, 0, 64, 0.9) 100%
  );
}
.header_user_logo {
  display: none;
  user-select: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  overflow: hidden;
  margin-right: 16px;
}
/* Дропдаун */
.header__dropdown-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  border: none;
  max-width: 250px;

  color: #ffffff;
  padding: 12px 24px;
  margin-right: 60px;
  background: linear-gradient(
    90deg,
    rgba(195, 0, 109, 0.9) 5%,
    rgba(115, 0, 64, 0.9) 100%
  );
}
.header__dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header__dropdown-content a {
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: block;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(195, 0, 109, 0.9) 5%,
    rgba(115, 0, 64, 0.9) 100%
  );
}
.header__dropdown:hover .header__dropdown-content {
  display: block;
}

/* ==================== */

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 108px;
}
.container_profile {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 108px;
  height: 1400px;
}
.ask {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  /* max-width: 450px; */
  align-items: center;
  flex: 0 1 50%;
}
.left__title {
  margin-bottom: 9px;
}
.left__text {
  text-align: center;
  margin-bottom: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #c0c0c0;
}
.left__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  padding: 20px 40px;
  border: 3px solid #b00062;
}
.right {
  flex: 0 1 50%;
  text-align: center;
}

/* ======================= */

.service {
  background: #181818;
  display: flex;
  max-height: 480px;
}
.service__img {
  flex: 0 1 50%;
}

.service__img img {
  position: relative;
  left: 0;
  top: -60px;
}
.service__right {
  padding-right: 80px;
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.service__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 36px;
}

.service__title span {
  color: #f10086;
}
.service__points {
  margin-right: auto;
  padding-left: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140.69%;
  color: #c0c0c0;
}
.Author:hover {
  box-shadow: inset 0px 0px 0px 7px #b00062;
  -webkit-box-shadow: inset 0px 0px 0px 7px #b00062;
  -moz-box-shadow: inset 0px 0px 0px 7px #b00062;
}

/* ======================== */

.let {
  padding-top: 200px;
}
.let__title {
  text-align: center;
  margin-bottom: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  color: #ffffff;
}
.body-let {
  display: flex;
  margin-bottom: 200px;
}
.body-let__left {
  flex: 0 1 33.33%;
}
.body-let__left ul {
  list-style: none;
}
.body-let__left ul li {
  background: #181818;
  padding: 26px 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #c0c0c0;
  border-right: 2px solid #b00062;
}
.body-let__left ul li:nth-child(1) {
  border-right: 2px solid #b00062;
}
.body-let__right {
  flex: 0 1 66.66%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: #c0c0c0;
  padding: 26px 32px;
  background: linear-gradient(
    180deg,
    #181818 49.27%,
    rgba(24, 24, 24, 0.2) 100%
  );
  line-height: 1.5;
}

/* ==================================== */

.Ourauthors {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 1400;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 68px;
  margin-bottom: 0px;
}
.Author {
  align-items: center;
  background: #181818;
  border: none;
  border-radius: 5px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 90px 10px;
  text-align: center;
}
.Authoravatar {
  flex-shrink: 0;
  margin-bottom: 12px;
  image-orientation: from-image;
  border-radius: 50%;
  display: block;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.Authorname {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}
.Authorlink {
  line-height: 22px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-bottom: 1px solid transparent;
  color: #f10086;
  cursor: pointer;
  font-size: 23px;
  font-weight: 500;
  text-decoration: none;
  transition: border-color 0.2s;
}

.slick-slider {
  margin-bottom: 200px;
}

a {
  color: #f10086;
}
/* 
a:visited {
  color: #f10086;
} */

a:active {
  color: #f10086;
}
/* ==================================== */

.footer {
  margin-top: 200px;
  background: #181818;
  padding: 100px;
  position: relative;
}
.footer__body {
  display: flex;
}
.footer__left {
  flex: 0 1 50%;
}
.footer__left ul {
  list-style: none;
  padding: 15px;
  border-right: 2px solid #b00062;
}
.footer__left ul li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #c0c0c0;
}
.footer__left ul li:not(:last-child) {
  margin-bottom: 20px;
}
.footer__right {
  flex: 0 1 50%;
  padding-left: 100px;
}
.footer__img img {
  width: 102px;
  height: 35px;
}
.footer__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #c0c0c0;
}
.footer__tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #c0c0c0;
}
.footer__link {
  cursor: pointer;
}

.man {
  position: absolute;
  left: 82%;
  top: 5px;
}

/*PROFILE STYLES */

/* ================================= */

.pp_main {
  padding-top: 20px;
  min-height: 80vh;
}
.pp_main__container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.pp_about {
  background: #181818;
  padding: 15px;
}
.pp_about__title {
}
.pp_about__title::after {
  content: "";
  width: 240px;
  height: 1px;
  display: block;
  background: #b00062;
  margin-top: 8px;
  margin-bottom: 12px;
}
.pp_about__text {
}

/* =================== */

.pp_sort {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}
.pp_sort:hover {
  cursor: pointer;
}
.pp_sort__text {
  margin-right: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #505050;
}
.pp_sort__arrow {
  display: inline-block;
}

/* ========================= */

.pp_post {
}
.pp_post__title {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}
.pp_post__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #c0c0c0;
}
.pp_post__date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #505050;
}

.pp_post__img {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  position: relative;
}
.pp_blurred > img {
  filter: blur(10px);
  overflow: hidden;
}
.pp_post__text2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #c0c0c0;
  text-align: center;
}
.pp_post__text2 img {
  padding-top: 5px;
  display: block;
  margin: 0 auto;
}

/* ================================ */

.pp_left {
  position: absolute;
  left: 0;
  top: 0;
  background: #181818;
  transform: translateX(-105%);
  border: 10px solid #181818;
}
.pp_left__img {
  margin-bottom: 10px;
  min-height: 15vh;
}
.pp_left__body {
}
.pp_body-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pp_body-create_post {
  display: flex;
  justify-content: center;
  background-color: #860049;
  padding: 15px 0 15px 0;
  border: #da0178 4px solid;
  font-weight: 500;
  cursor: pointer;
}
.pp_body-create_subscr {
  display: flex;
  justify-content: center;
  background-color: #860049;
  padding: 15px 0 15px 0;
  border: #da0178 4px solid;
  font-weight: 500;
  cursor: pointer;
  margin: 0 25px 0 25px;
}
.pp_body-left__nick {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #c0c0c0;
  margin-bottom: 4px;
  max-width: 260px;
  word-wrap: break-word;
}
.pp_body-left__job {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #c0c0c0;
}
.pp_body-left__job::after {
  margin-top: 8px;
  margin-bottom: 12px;
  content: "";
  display: block;
  width: 200px;
  background: #b00062;
  height: 1px;
}
.pp_body-left__subscibers {
  font-size: 16px;
  line-height: 19px;
  color: #c0c0c0;
  margin-bottom: 8px;
}
.pp_body-left__money {
  font-size: 16px;
  line-height: 19px;
  color: #c0c0c0;
  margin-bottom: 16px;
}
.pp_body-left__subscribe {
  cursor: pointer;
  padding: 8px 20px;
  background: #b00062;
  display: inline-flex;
}

/* ================================ */

.pp_right {
  position: absolute;
  left: 105%;
  top: 0;
  width: 50%;
}
.pp_right__top {
  margin-bottom: 20px;
  padding: 15px;
  background: #181818;
}
.pp_top-right {
}
.pp_top-right__links {
  display: flex;
  flex-direction: column;
}
.pp_top-right__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #c0c0c0;
}
.pp_top-right__text::after {
  content: "";
  display: block;
  height: 1px;
  background: #b00062;
  margin-top: 5px;
  margin-bottom: 10px;
}
.pp_top-right__link {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #a6a6a6;
}
.pp_top-right__link::after {
  color: #3f3f3f;
}
.pp_left__avatar {
  min-height: 20vh;
  min-width: 20vw;
  max-width: 40vw;
  max-height: 42vh;
}
/* =================== */

.pp_left__top {
  padding: 15px;
  background: #181818;
}
.pp_goal {
}
.pp_goal__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #c0c0c0;
  margin-bottom: 12px;
}
.pp_goal__progress {
  text-align: center;
  border: 2px solid #ccc;
  padding: 5px;
  margin-bottom: 12px;
}
.pp_goal__main {
  line-height: 19px;
  color: #c0c0c0;
}
/* settings */
.settings_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
.settings_aside_left {
  position: absolute;
  margin-right: 60vw;
}
.settings_aside_right {
  position: absolute;
  margin-left: 60vw;
}
.settings_nav {
  display: flex;
  flex-direction: column;
  width: 260px;
  background-color: #181818;
}
.settings_nav_link {
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: large;
  color: #ffffff;
}
.settings_nav_link.active {
  border: 1px solid #f10086;
}
.settings_form_wrapper {
  display: flex;
  flex-direction: column;
  background-color: #181818;
  padding: 1vw;
  min-width: 477px;
}
.settings_form {
  padding-top: 30px;
  width: 35vw;
}
.settings_description {
  margin-bottom: 12px;
  padding: 10px;
  background: #202020;
  display: flex;
  flex-direction: column;
}
.settings_description input {
  margin-top: 5px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  background: #202020;
  height: 300px;
  resize: vertical;
  text-align: start;
}
.settings_description textarea {
  margin-top: 5px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  background: #202020;
  height: 300px;
  resize: none;
}
.settings_description input:focus {
  border: 1px solid#f10086;
}
.settings_description textarea:focus {
  outline: 1px solid#f10086;
}
.settings_caption {
  font-weight: 200;
  font-size: small;
}
.settings_img_link {
  height: 30px;
  margin-right: 10px;
}
.settings_subscription_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2vw;
}
.settings_subscription_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 15vw;
  margin: 1vw;
  background-color: #202020;
  padding: 1vw;
}
.settings_subscription_unsub {
  position: relative;
  float: right;
  cursor: pointer;
  left: 6vw;
  width: 20px;
}
.settings_subscription_name {
  font-weight: 600;
  font-size: larger;
}
.settings_subscription_description {
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.settings_subscription_price {
  background-color: #860049;
  padding: 1vw;
}
#image-preview {
  min-width: 10vw;
  min-height: 10vw;
  max-width: 20vw;
  max-height: 20vw;
}
/* Лента */
.feed_authors_slider {
  max-width: 600px;
  max-height: 300px;
}
/* Создать подписку */
.subscription_create_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7vh;
}
.subscription_create {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 40vw;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: #181818;
}
.subscription_aside_left {
  position: absolute;
  margin-right: 60vw;
}
.subscription_aside_right {
  position: absolute;
  margin-left: 60vw;
  width: 15vw;
}
.subscription_form {
  padding-top: 30px;
}
.subscription_form input {
  margin: 10px 0 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  background: #202020;
  border: 0;
}
.subscription_form input:focus {
  border-bottom: #b00062 1px solid;
}
.subscription_input {
  margin-bottom: 12px;
  padding: 10px;
  background: #202020;
  display: flex;
  flex-direction: column;
}
.subscription_input > input[type="number"]::-webkit-inner-spin-button,
.subscription_input > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.subscription_input > input[type="number"] {
  -moz-appearance: textfield;
}
.subscription_image {
  margin-bottom: 12px;
  padding: 10px;
  background: #202020;
  display: flex;
  flex-direction: column;
}
.subscription_image > label > input[type="file"] {
  display: none;
}
.custom_file_upload {
  border: 2px solid #b00062;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0 10px;
  background-color: #181818;
  width: fit-content;
  cursor: pointer;
}
.custom_file_upload:hover {
  color: #b00062;
}
.subscription_description {
  margin-bottom: 12px;
  padding: 10px;
  background: #202020;
  display: flex;
  flex-direction: column;
}
.subscription_description > textarea {
  margin-top: 5px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  background: #202020;
  height: 300px;
  resize: none;
}
.subscription_description > textarea:focus {
  outline: 1px solid#f10086;
}
/* Создание поста */
.file_post {
  margin-bottom: 12px;
  padding: 10px;
  background: #202020;
  display: flex;
  flex-direction: column;
}
.sub_post:nth-last-child(1) {
  border-bottom: #b00062 1px solid;
  margin-bottom: 15px;
}
.file_post > label > input[type="file"] {
  display: none;
}
.custom_file_upload_post {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 3px 10px;
  background-color: #181818;
  width: fit-content;
  cursor: pointer;
}
.custom_file_upload_post:hover {
  outline: 2px solid #b00062;
}
.subscription_checkbox {

}
.create_post_subscriptions_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  margin-left: 40vw;
  top: 130px;
  background-color: #181818;
  padding-bottom: 15px;
}
.create_post_subscriptions_header {
  justify-self: center;
  font-size: larger;
  font-weight: 500;
  margin: 9px 0 9px;
}
.create_post_subscriptions {
  border-top: #b00062 1px solid;
  padding: 9px 32px;
}
/* Подписки */
.pp_subscriptions_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #181818;
  padding-bottom: 15px;
}
.pp_subscriptions_header {
  justify-self: center;
  font-size: larger;
  font-weight: 500;
  margin: 9px 0 9px;
}
.pp_subscription {
  border-top: #b00062 1px solid;
  padding: 9px 32px;
}
.pp_subscription:nth-last-child(2) {
  border-bottom: #b00062 1px solid;
  margin-bottom: 15px;
}
.pp_subscription_name {
  font-size: large;
  font-weight: 500;
  width: fit-content;
}
.pp_subscription_price {
  font-size: small;
  font-weight: 300;
}
.pp_subscription_description {
  margin: 8px 0 8px;
}
.settings_delete_photo {
  margin-top: 20px;
  display: inline-flex;
  font-style: normal;
  font-weight: 500;
  width: fit-content;
  font-size: 20px;
  line-height: 23px;
  border: 3px solid #b00062;
  color: #ffffff;
  padding: 12px 24px;
  cursor: pointer;
}
.settings_delete_sub {
  margin: 0 0 25px;
  display: inline-flex;
  font-style: normal;
  font-weight: 500;
  width: fit-content;
  font-size: 20px;
  line-height: 23px;
  border: 3px solid #b00062;
  color: #ffffff;
  padding: 12px 24px;
  cursor: pointer;
}